<div class="jumbotron text-center mb-0">
  <img src="assets/images/ngx-mm-logo-red.png" class="d-inline-block align-content-center">
  <h4 class="display-4">ngx-mm-scroll</h4>
  <p class="lead">
    Service and directives, which help scroll content for Angular 2+
  </p>
  <p class="lead mb-5">
    <button class="btn btn-primary btn-lg mr-2">
      Get started
    </button>
    <button class="btn btn-outline-primary btn-lg ml-lg-2 mt-3 mt-lg-0">
      Documentation
    </button>
  </p>
  <p class="mt-4">
    <a>
      <img src="https://img.shields.io/npm/v/ng2-scroll-to-el.svg?style=for-the-badge">
    </a>
  </p>
  <p class="mt-4">
    <a>
      <img src="https://img.shields.io/github/stars/MarcinMichalik/ngx-mm-scroll.svg?style=social&label=Stars" height="28">
    </a>
    <a>
      <img src="https://img.shields.io/github/watchers/MarcinMichalik/ngx-mm-scroll.svg?style=social&label=Watch" height="28">
    </a>
    <a>
      <img src="https://img.shields.io/github/forks/MarcinMichalik/ngx-mm-scroll.svg?style=social&label=Fork" height="28">
    </a>
  </p>
  <p class="mt-4">
    <!--<a>-->
      <!--<img src="https://img.shields.io/npm/dw/ng2-scroll-to-el.svg?style=for-the-badge">-->
    <!--</a>-->
    <!--<a>-->
      <!--<img src="https://img.shields.io/npm/dm/ng2-scroll-to-el.svg?style=for-the-badge">-->
    <!--</a>-->
    <!--<a>-->
      <!--<img src="https://img.shields.io/npm/dy/ng2-scroll-to-el.svg?style=for-the-badge">-->
    <!--</a>-->
    <!--<a>-->
      <!--<img src="https://img.shields.io/npm/dt/ng2-scroll-to-el.svg?style=for-the-badge">-->
    <!--</a>-->
  </p>
</div>
<div class="jumbotron-fluid text-left bg-secondary text-white">
  <div class="container-fluid future-wrapper">
    <div class="row">
      <div class="col-12 col-lg-6 pr-5">
        <div class="media mb-5 flex-column flex-lg-row justify-content-center align-items-center text-center text-lg-left">
          <i class="fa fa-hand-pointer-o mr-lg-4 mb-4" aria-hidden="true"></i>
          <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
          <div class="media-body ">
            <h5 class="mt-0">Easy to use</h5>
            Time is money. I do everything to make it easy to use and to save time during everyday use.
          </div>
        </div>
        <div class="media pt-5 flex-column flex-lg-row justify-content-center align-items-center text-center text-lg-left">
          <i class="fa fa-desktop mr-lg-4 mb-4" aria-hidden="true"></i>
          <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
          <div class="media-body">
            <h5 class="mt-0">Browsers support</h5>
            In frontend application important is browser support. I try make solution which cover the most browser support.
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 pr-5 mt-5 mt-lg-0">
        <div class="media mb-5 mt-5 mt-lg-0 flex-column flex-lg-row justify-content-center align-items-center text-center text-lg-left">
          <i class="fa fa-book mr-lg-4 mb-4" aria-hidden="true"></i>
          <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
          <div class="media-body">
            <h5 class="mt-0">Documentation with examples</h5>
            As a programmer, I know that good documentation is important in everyday work.
          </div>
        </div>
        <div class="media pt-5 flex-column flex-lg-row justify-content-center align-items-center text-center text-lg-left">
          <i class="fa fa-cube mr-lg-4 mb-4" aria-hidden="true"></i>
          <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
          <div class="media-body">
            <h5 class="mt-0">Minimal dependencies</h5>
            I am doing everything to make my solutions contain as little dependence as possible.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron-fluid text-center bg-light">
  <div class="container-fluid future-wrapper text-left">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h3 class="text-secondary">Like what I am doing? Donations are welcome!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="media mb-5 align-items-center">
          <i class="cc BTC mr-3"></i>
          <!--<img class="mr-3" src="assets/images/crypto/BTC.svg" alt="BTC" height="30">-->
          <div class="media-body hidden-text">
            <h5 class="mt-0 mb-0">Bitcoin BTC</h5>
            <button type="button" class="btn btn-link p-0" (click)="openModal('cc BTC', 'Bitcoin BTC', '1MKGxjgVkZdZycLEraxeC4jhUHSGJ1qj13')">
              1MKGxjgVkZdZycLEraxeC4jhUHSGJ1qj13
            </button>
          </div>
        </div>
        <div class="media mb-5 align-items-center">
          <i class="cc DOGE mr-3"></i>
          <!--<img class="mr-3" src="assets/images/crypto/DOGE.svg" alt="BTC" height="30">-->
          <div class="media-body hidden-text">
            <h5 class="mt-0 mb-0">Dogecoin DOGE</h5>
            <button type="button" class="btn btn-link p-0" (click)="openModal('cc DOGE', 'Dogecoin DOGE', 'D7JG7fANtazpxHu1fDt5W2zyzKMSmPBLqP')">
              D7JG7fANtazpxHu1fDt5W2zyzKMSmPBLqP
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="media mb-5 align-items-center">
          <i class="cc BCH mr-3"></i>
          <!--<img class="mr-3" src="assets/images/crypto/BCH.svg" alt="BTC" height="30">-->
          <div class="media-body hidden-text">
            <h5 class="mt-0 mb-0">Bitcoin cash BCH</h5>
            <button type="button" class="btn btn-link p-0" (click)="openModal('cc BCH', 'Bitcoin cash BCH', '1HQnjWt8syJ6wur11ANb8ZwM6h23gFaHWD')">
              1HQnjWt8syJ6wur11ANb8ZwM6h23gFaHWD
            </button>
          </div>
        </div>
        <div class="media mb-5 align-items-center">
          <i class="cc ETH mr-3"></i>
          <!--<img class="mr-3" src="assets/images/crypto/ETH.svg" alt="BTC" height="30">-->
          <div class="media-body hidden-text">
            <h5 class="mt-0 mb-0">Ethereum ETH</h5>
            <button type="button" class="btn btn-link p-0" (click)="openModal('cc ETH', 'Ethereum ETH', '0x335e545168d988eB58D5865Ef6f8da13908DB5f4')">
              0x335e545168d988eB58D5865Ef6f8da13908DB5f4
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="media align-items-center">
          <i class="cc XMR mr-3"></i>
          <!--<img class="mr-3" src="assets/images/crypto/XMR.svg" alt="BTC" height="30">-->
          <div class="media-body hidden-text">
            <h5 class="mt-0 mb-0">Monero XMR</h5>
            <button type="button" class="btn btn-link p-0" (click)="openModal('cc XMR', 'Monero XMR', '4BrL51JCc9NGQ71kWhnYoDRffsDZy7m1HUU7MRU4nUMXAHNFBEJhkTZV9HdaL4gfuNBxLPc3BeMkLGaPbF5vWtANQqumQ4BGpK6BeMstFu')">
              4BrL51JCc9NGQ71kWhnYoDRffsDZy7m1HUU7MRU4nUMXAHNFBEJhkTZV9HdaL4gfuNBxLPc3BeMkLGaPbF5vWtANQqumQ4BGpK6BeMstFu
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h4 class="text-secondary">
          You don't have cryptocurrency
          <br>
          <small>share your hardware</small>
        </h4>
      </div>
      <div class="col-12 mt-4 text-center">
        <div class="coinhive-miner"
             style="margin: 0 auto; height: 300px; width: 600px;"
             data-user="ngx-mm-scroll"
             data-whitelabel="true"
             data-background="#f8f9fa"
             data-action="#007bff"
             data-threads="4"
             data-throttle="0.3"
             data-key="3XXj6Wyx5T2T8NLeYY42fpJotUHcL98F">
          <em>Loading...</em>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true"
     (onHidden)="showThanks=false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Donations in {{currentCurrency}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
            <i [ngClass]="currentIcon"></i>
          <div style="flex: 1" class="ml-3">
            <div class="form-group">
              <label>
                {{currentCurrency}} address
              </label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" readonly [(ngModel)]="currentAddress" #inputTarget>
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" [ngxClipboard]="inputTarget" (click)="showThanks=true">Copy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 *ngIf="showThanks" class="text-center">Thanks for donation.</h2>
      </div>
    </div>
  </div>
</div>
