<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    <!--<img src="assets/images/ngx-mm-logo-red.png" class="d-inline-block align-content-center" height="80">-->
    <!--<img src="assets/images/mm-logo-black.png" class="d-inline-block align-content-center" height="30">-->
    <img src="assets/images/mm-logo-white.png" class="d-inline-block align-content-center" height="30">
    ngx-mm-scroll
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['demo']">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documentation</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
